*{
  margin: 0;
  padding: 0;
}


/*body {
  background-image: url('Coverimg/coverbg.jpg');
}*/

.header{
   
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(Coverimg/blurbg2.png) ;
  /*opacity: 0.5;*/
  overflow: hidden;
  /*background-repeat: no-repeat;*/
  font-family: 'Roboto', sans-serif;

}


.container{

  width: 1140px ;
  margin: auto;
  
}

/*.clinicarelogo {

    width: 200px;
    height: auto;

}*/

.logo{

   padding-right: 100px;
}


.heading {

 font-family: 'Roboto', sans-serif;


}

.heading h1{

font-size: 50px;
text-align: center;
padding-top: 30px;
text-transform: uppercase;



}

.redltr{
  font-size: 50px;
  color: #ff4747;
  
}



















.cards{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:url("Coverimg/bg.jpg");
  overflow: hidden;
  /*background-repeat: no-repeat;*/
  font-family: 'Roboto', sans-serif;

}
.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  text-align: center;
  

  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;
}
.card-image {
  grid-area: image;
  background: url("Coverimg/img1.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 25px;
}

.card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top:0px;
  font-size:28px;
}

.card-stats {
  grid-area: stats; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(255, 56, 56);
}






.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

#Patient{

  background: rgb(255, 56, 56);
  border-color: rgb(255, 56, 56) ;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding-left: 120px;
  padding-top: 30px;

}

#doctor{

  background: rgb(125, 207, 255);
  border-color: rgb(125, 207, 255) ;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding-left: 120px;
  padding-top: 30px;

}

#admin{

  background: rgb(92, 93, 94);
  border-color: rgb(92, 93, 94) ;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding-left: 120px;
  padding-top: 30px;

}







/*card2*/
.card-image.card2 {
  background: url("Coverimg/doctor.jpg");
  background-size: cover;
}

.card-stats.card2 {
  background: rgb(125, 207, 255);
}








/*card3*/
.card-image.card3 {
  background: url("Coverimg/admin.jpg");
  background-size: cover;
}

.card-stats.card3 {
  background: rgb(92, 93, 94);
}

















/*fotter*/

 .footer{
   
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}