*{
  margin: 0;
  padding: 0;
}


.container{

  width: 1140px ;
  margin: auto;
  
}

body{

  background-image: url(patientimg/backgroundimg.jpeg);
  background-size: cover;
  
}

.row{

  text-align: center;
  padding-top: 100px;

}

.col-md-4 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.col-md-4:hover {
  transform: scale(1.3);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}